<h3>
    Co-Founder/Lead Frontend Developer @ Cafe au Chain
    <span class="sub-head">
        Athens, GA &raquo; January 2019 - December 2019
    </span>
</h3>
<p>
    <strong>Tech: </strong>AWS, Postgres, Ruby, Ruby on Rails, React
</p>
<ul>
    <li>
        Designed, built and maintained full front end (React, Sass,
        HTML) of SaaS web app that provided inventory and production
        management as well as wholesale ordering for speciality coffee
        roasters
    </li>
    <li>
        Built 60-80% of wholesale ordering functionality using Ruby on
        Rails
    </li>
    <li>
        Created migrations, models, controllers and services as
        necessary to add additional features
    </li>
    <li>
        Integrated payment processor (Stripe) to allow roasters to
        process payments for orders from wholesale customers
    </li>
    <li>
        Incorporated third-party shipping api (EasyPost) to let
        roasters get accurate shipping quotes
    </li>
    <li>Used Git for version control</li>
</ul>
