<h3>
    Software Engineer III @ Cognizant SoftVision
    <span class="sub-head">
        Atlanta, GA (remote)  &raquo; January 2021 - April 2021
    </span>
</h3>
<p>
    <strong>Tech: </strong>React, Redux, Material UI, Cypress, React
    Testing Library
</p>
<ul>
    <li>
        Contributed to feature development to help build out Point of
        Sale application for client
    </li>
    <li>
        Created proof of concept for new directory structure to help
        simplify codebase
    </li>
    <li>
        Executed plan to create and implement reusable components
    </li>
    <li>Participated in code review and sprint planning sessions</li>
</ul>