<h3>
    Front End Developer @ Dynamix Web Design
    <span class="sub-head">
        Kennesaw, GA &raquo; January 2016 - October 2016
    </span>
</h3>
<ul>
    <li>
        Developed responsive websites based on mockup and/or
        wireframes with HTML, CSS (LESS), Javascript and PHP
    </li>
    <li>
        Integrated custom Google Maps functionality using Google Maps
        API
    </li>
    <li>
        Worked closely with designers to achieve the look, feel and
        functionality desired by the client
    </li>
    <li>Used Git for version control</li>
</ul>