<h3>
    Freelance Frontend Developer/Owner @ Hounddog Development
    <span class="sub-head">Watkinsville, GA &raquo; March 2018 - December 2019</span>
</h3>
<ul class="less-margin">
    <li>
        Utilized javascript (mostly React), Sass and HTML to deliver
        web solutions for small businesses
    </li>
</ul>
<p><strong>Projects include:</strong></p>
<ul>
    <li>
        Financial web app to project future cash flow based on
        recurring monthly spending (MySql, Node, Express, React,
        Styled Components)
    </li>
    <li>
        Inventory/order management web app for online resellers
        (MySQL, Node, Express, React and Sass)
    </li>
    <li>
        Tool to help resellers analyze manifested purchase orders to
        determine potential profit (Backbone, HTML, Sass)
    </li>
    <li>
        Private Chrome extension to manage inventory and cost of goods
        sold (HTML, CSS, vanilla js)
    </li>
    <li>
        Private Chrome extension to help replicate listings across
        multiple e-commerce platforms (HTML, CSS, vanilla js)
    </li>
</ul>