<h3>
    Senior Frontend Engineer @ LeafLink
    <span class="sub-head">
        New York, NY (remote) &raquo;
        May 2021 - May 2023</span>
</h3>
<p>
    <strong>Tech: </strong>Vue, Vuex, Pinia, Typescript, Vite, Webpack, Jest<br />
    <strong>Tools: </strong>Cypress, Split.io, AWS S3, GitHub Actions, Docker
</p>
<div>
    <dl>
        <dt>
            <strong>Monolith Breakup Initiative</strong>
        </dt>
        <dd>
            <ul>
                <li>
                    Designed and implemented a strategy to break up the monolith application by porting the
                    single page application (~240k lines of JS/TS/SCSS) to new repo
                </li>
                <li>
                    Allowed for independent deployments of the SPA and Django application,
                    <strong>decreasing deployment process for the SPA from 30+ minutes to ~7 minutes</strong>
                </li>
            </ul>
        </dd>
        <dt>
            <strong>Vue 3 Migration</strong>
        </dt>
        <dd>
            <ul>
                <li>
                    Led migration from Vue 2 to Vue 3 which included planning, testing, rollout and communications to
                    internal developers
                </li>
                <li>
                    Upgraded associated tooling and efficiently implemented solutions for any incompatible packages
                </li>
            </ul>
        </dd>
        <dt>
            <strong>Feature Modernization</strong>
        </dt>
        <dd>
            <ul>
                <li>
                    Planned and delivered modernized version of a large and heavily-trafficked legacy feature with no
                    down-time while preserving the legacy experience
                </li>
                <li>
                    Coordinated changes among multiple teams
                </li>
            </ul>
        </dd>
        <dt>
            <strong>General responsibilities</strong>
        </dt>
        <dd>
            <ul>
                <li>
                    Mentored junior devs via formal sessions and code reviews
                </li>
                <li>
                    Participated in sprint ceremonies and feature development
                </li>
                <li>
                    Advocated for best practices including a preference for readable and repeatable code
                </li>
                <li>
                    Contributed to internal component library
                </li>
            </ul>
        </dd>
    </dl>
</div>