<h3>
    Senior Frontend Engineer @ LeafLink
    <span class="sub-head">
        New York, NY (remote) &raquo;
        May 2021 - Present</span>
</h3>
<p>
    <strong>Tech: </strong>Vue, Vuex, Typescript, Webpack, Split.io
</p>
<ul>
    <li>
        Mentor junior developers via formal one-on-ones and code reviews
    </li>
    <li>
        Plan and implement modernization of a large and heavily-trafficked legacy featureset with no down time while
        preserving the legacy experience
    </li>
    <li>
        Guide and advise on future frontend efforts at the organizational level
    </li>
    <li>
        Participate in sprint ceremonies and feature development at the pod/team level
    </li>
    <li>
        Advocate for best practices including a preference for readable and repeatable code
    </li>
    <li>
        Contribute to internal component library
    </li>
</ul>