<h3>
    Frontend Developer @ Loyal Health
    <span class="sub-head">
        Atlanta, GA (remote) &raquo; December 2019 - December 2020
    </span>
</h3>
<p>
    <strong>Tech: </strong>React, Redux, Styled Components, Webpack,
    Babel, Cypress
</p>
<ul>
    <li>
        Implemented dynamic frontends for multiple applications in
        support of healthcare systems
    </li>
    <li>
        Established javascript code standards via Prettier and ESLint
    </li>
    <li>
        Participated in code reviews to help foster better developers
        and development practices
    </li>
    <li>
        Restructured and refactored legacy codebase while modernizing
        and strengthening underlying application
    </li>
    <li>
        Provided input and feedback to design team with regards to
        user experience and overall functionality
    </li>
    <li>
        Created reusable component library to be used across multiple
        applications
    </li>
    <li>
        Built documentation site serving internal employees and
        external developers
    </li>
</ul>