<h3>
    Various Positions @ MemberClicks
    <span class="sub-head">
        Atlanta, GA &raquo; October 2011 - November 2015
    </span>
</h3>
<div class="sub-job-container">
    <p>
        <strong>Associate Software Engineer <br /><span class="sub-head">January 2015 - November 2015</span></strong>
    </p>
    <ul>
        <li>
            Utilized Javascript, HTML, CSS and some PHP to create new
            features in the administrative portal as part of a
            development team
        </li>
        <li>
            Served as the subject matter expert with regards to HTML and
            CSS
        </li>
        <li>Participated in team status and planning meetings</li>
        <li>
            Used Git as version control system to commit and review code
        </li>
    </ul>
</div>
<div class="sub-job-container">
    <p>
        <strong>Admin-side Web Developer <br /><span class="sub-head">January 2015 - March 2015</span></strong>
    </p>
    <ul>
        <li>
            Assisted in the planning and redesign of the administrative
            side of the product with a focus on a simple yet unique
            aesthetic and improved user experience
        </li>
    </ul>
</div>
<div class="sub-job-container">
    <p>
        <strong>Existing Client Web Developer <br /><span class="sub-head">January 2013 - December 2014</span></strong>
    </p>
    <ul>
        <li>Created stylesheets for non-templated redesigns</li>
        <li>Customized templated redesigns</li>
        <li>Supported and fixed bugs in the template library</li>
        <li>
            Built and standardized email templates to be used by all
            clients using the MemberClicks email system
        </li>
        <li>
            Developed all responsive templates in the template library
        </li>
        <li>
            Provided support for design-related requests from clients
        </li>
        <li>
            Acted as technical expert in regards to design-related
            questions/issues
        </li>
    </ul>
</div>
<div class="sub-job-container">
    <p>
        <strong>Maximization Specialist <br /><span class="sub-head">May 2012 - December 2014</span></strong>
    </p>
    <ul>
        <li>
            Provided support and training to clients via individual
            communication and group webinars
        </li>
        <li>
            Sold design packages to existing clients interested in
            updating their websites
        </li>
        <li>
            Participated in various value-added campaigns focused on
            increasing client retention
        </li>
        <li>
            Created documentation for various applications within the
            product offering, with a focus on design- and CMS-related
            areas
        </li>
    </ul>
</div>
<div class="sub-job-container">
    <p>
        <strong>Associate Web Designer <br /><span class="sub-head">October 2011 - August 2012</span></strong>
    </p>
    <ul>
        <li>
            Created stylesheets for custom website templates and website
            matches for membership modules
        </li>
        <li>Built out site content on behalf of clients</li>
    </ul>
</div>
<div class="sub-job-container">
    <p>
        <strong>Web Content Quality Assurance <br /><span class="sub-head">October 2011 - August 2012</span></strong>
    </p>
    <ul>
        <li>
            Assisted in the upgrade process, moving the content of
            existing clients' websites to a new content management
            system
        </li>
        <li>
            Assured that clients' content in the new CMS reflected the
            look and feel of the old CMS in multiple supported browsers
        </li>
        <li>Fixed any broken pages due to invalid HTML</li>
    </ul>
</div>