<div class="job-container">
    <h3>
        Sales Program Coordinator @ PureSpectrum Lighting
        <span class="sub-head">
            Savannah, GA &raquo; January 2010 - August 2010
        </span>
    </h3>
    <ul>
        <li>
            Created and managed sales materials, including printed and
            interactive documents
        </li>
        <li>
            Updated and maintained the corporate and investor websites
        </li>
        <li>Coordinated and tracked sales efforts of Sales Managers</li>
        <li>
            Worked with Sales Managers to ensure samples and sales
            materials were delivered to prospects/clients in the most
            cost-effective and timely manner
        </li>
    </ul>
</div>
<div class="job-container">
    <h3>
        Administrative Coordinator @ The First Tee Louisville
        <span class="sub-head">
            Louisville, KY &raquo; April 2009 - August 2010
        </span>
    </h3>
    <ul>
        <li>Updated and maintained the organization's website</li>
        <li>
            Produced and managed email communication between the
            organization and its membership
        </li>
        <li>Created and controlled online registrations</li>
    </ul>
</div>
<div class="job-container">
    <h3>
        Pro Shop Assistant @ Shawnee Golf Course
        <span class="sub-head">Louisville, KY &raquo; April 2009 - December 2009</span>
    </h3>
    <ul>
        <li>
            Assisted with online marketing initiatives, including email
            and online promotions
        </li>
        <li>
            Opened, operated, and closed point-of-sale registers; managed
            tee sheet for golf course with over 40,000 rounds yearly;
            prepared daily business reports; assisted with tournament
            operations
        </li>
    </ul>
</div>
<div class="job-container">
    <h3>
        In-house Purchasing/Operations Intern @ American Junior Golf Association
        <span class="sub-head">Braselton, GA &raquo; March 2008 - September 2008</span>
    </h3>
    <ul>
        <li>
            Assisted Director of Purchasing with the shipping and
            receiving of merchandise with regards to the tournaments run
            by the AJGA
        </li>
        <li>
            Managed and distributed inventory of tournament-related
            merchandise
        </li>
        <li>
            Provided support for the Tournament Directors from the
            national headquarters
        </li>
        <li>Coordinated and booked travel for staff and interns</li>
        <li>
            Gathered and compiled data from pre- and post-tournament
            information
        </li>
        <li>Received and coded invoices from vendors</li>
        <li>
            Traveled to locations to help run tournaments, including
            set-up, breakdown, and administration of rules for groups of
            players
        </li>
    </ul>
</div>
<div class="job-container">
    <h3>
        Full-time Intern @ Relay Worldwide
        <span class="sub-head">Atlanta, GA &raquo; June 2007 - August 2007</span>
    </h3>
    <ul>
        <li>
            Worked as part of the AT&amp;T Mobility team (Hispanic Agency
            of Record)
        </li>
        <li>
            Assisted with the sponsorship activation for the Coca-Cola
            account
        </li>
        <li>
            Participated in weekly status/update calls with clients,
            markets, and staff
        </li>
        <li>
            Researched grassroots marketing opportunities within markets
            and competitors to more effectively reach target audience
        </li>
    </ul>
</div>