<h3>Custom designs</h3>
<ul>
    <li>
        <a href="https://bookscouter.com/" target="_blank">BookScouter</a>
        (Roundsphere)
    </li>
    <li>
        <a href="https://mousedining.com/" target="_blank">MouseDining</a>
        (Roundsphere)
    </li>
    <li>
        <a href="https://guardiancenters.com/" target="_blank">Guardian Centers</a>
        (Dynamix)
    </li>
    <li>
        <a href="http://chick-fil-afoundation.org/" target="_blank">Chick-fil-A Foundation</a>
        (Dynamix)
    </li>
    <li>
        <a href="http://islandlawncare.com/" target="_blank">Island Lawn Care</a>
        (Dynamix)
    </li>
</ul>
<h3>Google Map Integrations</h3>
<ul>
    <li>
        Atlanta Track Club Community Calendar Map (offline)
        <br />
        This project required that 2 different types of events be
        displayed on the map while also allowing the results to be
        filtered by date and event type. Additionaly, a sidebar was
        necessary to display all the events within the filtered range.
        The map points would open a detail modal, and events within a
        given distance would need to be combined.
    </li>
    <li>
        <a href="http://chick-fil-afoundation.org/junior-achievement">Chick-fil-A Foundation Junior Achievement Capstone
            Facilities
            Map</a><br />
        This project mapped several different locations and included a
        detail modal. Each location consists of several operators that
        are populated into a list below the map and must update when the
        map point is clicked.
    </li>
</ul>
<h3>Responsive Templates for MemberClicks</h3>
<ul>
    <li>
        <a href="https://resp.memberclicks.net/decatur" target="_blank">Decatur</a>
    </li>
    <li>
        <a href="https://resp.memberclicks.net/edgewood" target="_blank">Edgewood</a>
    </li>
    <li>
        <a href="https://resp.memberclicks.net/marietta" target="_blank">Marietta</a>
    </li>
    <li>
        <a href="https://resp.memberclicks.net/buckhead" target="_blank">Buckhead</a>
    </li>
    <li>
        <a href="https://resp.memberclicks.net/vinings" target="_blank">Vinings</a>
    </li>
</ul>