<h3>
    Front End Developer @ Roundsphere
    <span class="sub-head">
        Athens, GA &raquo; October 2016 - July 2018
    </span>
</h3>
<ul>
    <li>
        Rebuilt, updated and maintained front-end of multiple web apps
        to drive the company’s SaaS-based businesses utilizing
        Backbone.js, Sass, HTML, Gulp, Git
    </li>
    <li>
        Worked closely with the Backend Architect to implement
        features and changes
    </li>
    <li>
        Consulted with CEO on new app-related opportunities, both to
        existing products and new solutions
    </li>
    <li>Served as the user experience subject matter expert</li>
    <li>
        Built and updated multiple Chrome browser extensions for
        various clients
    </li>
</ul>