<h2>Skills/Languages</h2>
<ul class="flexlist">
    <li>
        <span class="skill">Javascript</span>
        <span class="time">10+ years</span>
    </li>
    <li>
        <span class="skill">React</span>
        <span class="time">5</span>
    </li>
    <li>
        <span class="skill">Typescript</span>
        <span class="time">3</span>
    </li>
    <li>
        <span class="skill">Vue</span>
        <span class="time">2</span>
    </li>
    <li>
        <span class="skill">HTML</span>
        <span class="time">10+</span>
    </li>
    <li>
        <span class="skill">CSS</span>
        <span class="time">10+</span>
    </li>
    <li>
        <span class="skill">Sass</span>
        <span class="time">8</span>
    </li>
    <li>
        <span class="skill">Less</span>
        <span class="time">4</span>
    </li>
    <li>
        <span class="skill">Cypress</span>
        <span class="time">5</span>
    </li>
    <li>
        <span class="skill">Jest</span>
        <span class="time">5</span>
    </li>

    <li>
        <span class="skill">Webpack</span>
        <span class="time">5</span>
    </li>
    <li>
        <span class="skill">Vite</span>
        <span class="time">1</span>
    </li>

    <li>
        <span class="skill">Express</span>
        <span class="time">5</span>
    </li>
    <li>
        <span class="skill">Node</span>
        <span class="time">5</span>
    </li>
    <li>
        <span class="skill">Backbone</span>
        <span class="time">4</span>
    </li>
    <li>
        <span class="skill">jQuery</span>
        <span class="time">9</span>
    </li>
    <li>
        <span class="skill">Python</span>
        <span class="time">1</span>
    </li>
    <li>
        <span class="skill">Django</span>
        <span class="time">1</span>
    </li>
    <li>
        <span class="skill">Ruby</span>
        <span class="time">1</span>
    </li>
    <li>
        <span class="skill">Rails</span>
        <span class="time">1</span>
    </li>
    <li>
        <span class="skill">Postgres</span>
        <span class="time">1</span>
    </li>
    <li>
        <span class="skill">MySQL</span>
        <span class="time">3</span>
    </li>
    <li>
        <span class="skill">AWS</span>
        <span class="time">2</span>
    </li>
    <li>
        <span class="skill">Git</span>
        <span class="time">10+</span>
    </li>
    <li>
        <span class="skill">GitHub Actions</span>
        <span class="time">1</span>
    </li>
    <li>
        <span class="skill">CirlceCI</span>
        <span class="time">1</span>
    </li>
</ul>