html {
  box-sizing: border-box; }

*, *::after, *::before {
  box-sizing: inherit; }

/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

html * {
  font-family: 'Roboto', sans-serif; }

body {
  background: #f1f1f1;
  line-height: 1.4em; }

p {
  margin-bottom: 20px; }

h1 {
  font-size: 2em;
  margin: 20px 0 10px;
  font-weight: bold; }

h2 {
  margin: 0 0 20px;
  padding: 0 0 20px;
  border-bottom: 2px solid #4a4a4a;
  font-weight: bold;
  font-size: 24px; }

h3 {
  margin: 0 0 20px;
  font-weight: bold;
  font-size: 18px; }

strong {
  font-weight: bold; }

a, a:link, a:active {
  color: #D04A52;
  text-decoration: underline; }

a:hover {
  text-decoration: none; }

@media screen and (max-width: 768px) {
  #desktop {
    display: none; } }

#tablet {
  display: none; }
  @media screen and (max-width: 768px) {
    #tablet {
      display: block; } }
  @media screen and (max-width: 650px) {
    #tablet {
      display: none; } }

#mobile {
  display: none; }
  @media screen and (max-width: 650px) {
    #mobile {
      display: block; } }

.site-width {
  max-width: 68em;
  margin-left: auto;
  margin-right: auto; }
  .site-width::after {
    clear: both;
    content: "";
    display: table; }

header {
  display: inline-block;
  padding: 0 20px;
  margin-top: 20px; }
  header h1 {
    font-family: 'Fenix', sans-serif; }

.menu-container {
  padding: 0 20px; }
  @media screen and (max-width: 650px) {
    .menu-container {
      -webkit-transition: all 0.5s linear;
      -moz-transition: all 0.5s linear;
      transition: all 0.5s linear;
      padding: 0;
      background: #4a4a4a;
      left: 100%;
      height: 100%;
      position: fixed;
      width: 100%;
      top: 120px;
      bottom: 0;
      right: 0; } }

@media screen and (max-width: 650px) {
  #menu-toggle:checked ~ .menu-container {
    background: rgba(0, 0, 0, 0.7);
    left: 0; } }

.main-menu {
  float: right;
  overflow: hidden; }
  @media screen and (max-width: 650px) {
    .main-menu {
      float: none;
      padding-top: 20px;
      background: #4a4a4a; } }

.menu-container:after {
  content: '';
  display: block;
  clear: both; }

.main-menu li {
  float: left;
  text-align: center;
  margin: 0 20px; }
  @media screen and (max-width: 650px) {
    .main-menu li {
      float: none;
      margin: 0;
      background: #4a4a4a;
      display: block;
      text-align: left; } }

.main-menu li a {
  color: #D04A52;
  text-decoration: none;
  font-weight: bold;
  text-transform: lowercase;
  display: block; }
  @media screen and (max-width: 650px) {
    .main-menu li a {
      padding: 15px 20px;
      color: white; } }
  .main-menu li a.active {
    border-bottom: 2px solid #D04A52;
    color: #4a4a4a; }

body.tablet .main-menu li {
  margin: 0 14px; }

#menu-toggle {
  position: absolute;
  clip: rect(0, 0, 0, 0); }

label[for="menu-toggle"] {
  display: none;
  width: 32px;
  height: 28px;
  position: absolute;
  top: 38px;
  right: 0;
  margin-right: 20px;
  cursor: pointer; }
  @media screen and (max-width: 650px) {
    label[for="menu-toggle"] {
      display: block; } }

.menu-icon,
.menu-icon:after,
.menu-icon:before {
  top: 12px;
  left: 0;
  width: 32px;
  display: block;
  background: #4a4a4a;
  height: 4px;
  position: absolute;
  -webkit-transition: all 400ms ease-in-out;
  -moz-transition: all 400ms ease-in-out;
  transition: all 400ms ease-in-out; }

.menu-icon:after {
  content: '';
  top: 12px; }

.menu-icon:before {
  content: '';
  top: -12px; }

#menu-toggle:checked ~ label[for="menu-toggle"] .menu-icon {
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
  -webkit-transform-origin: center center;
  -moz-transform-origin: center center;
  -ms-transform-origin: center center;
  -o-transform-origin: center center;
  transform-origin: center center;
  width: 28px;
  left: 2px;
  top: 12px; }

#menu-toggle:checked ~ label[for="menu-toggle"] .menu-icon:after,
#menu-toggle:checked ~ label[for="menu-toggle"] .menu-icon:before {
  -webkit-transform: rotate(90deg);
  -moz-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  -o-transform: rotate(90deg);
  transform: rotate(90deg);
  width: 28px;
  top: 0; }

.fixed-container {
  width: 100%;
  height: 120px;
  position: fixed;
  top: 0;
  left: 0;
  border-top: 10px solid #D04A52;
  background: #fafafa;
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.5); }

.main-container {
  padding: 20px;
  padding-top: 180px; }

.main-section {
  padding-bottom: 140px; }

.sub-head {
  font-size: 85%;
  color: #7a7a7a; }

.main-section ul {
  list-style: disc inside none;
  margin-bottom: 40px; }

.job-container, .sub-job-container {
  border-left: 4px solid #D04A52;
  padding-left: 20px; }

.sub-job-container {
  border-left: 4px solid #4a4a4a; }

div.button {
  text-align: center; }

.button a {
  display: inline-block;
  max-width: 400px;
  border-radius: 2px;
  background: #D04A52;
  color: white;
  font-size: 20px;
  text-align: center;
  margin: 0 auto;
  padding: 7px 20px;
  text-decoration: none;
  font-weight: bold; }

.printonly {
  display: none;
}
@media print {
  .printonly {
    display: block
  }
  .fixed-container {
    display: block;
    height: auto;
    padding-bottom: 20px;
    position:relative;
    box-shadow: none;
    border-bottom: 1px solid gray;
  }
  .fixed-container header {
    display:flex;
    justify-content: space-between;

  }

  .main-container {
    padding-top: 30px
  }

  .noprint {
    display: none;
  }

  .main-section {
    padding: 0;
  }

  .main-section ul {
    list-style: disc outside none;
    padding-left:16px
  }

  #left-col {
    float:left;
    width:70%;
    padding-right:40px;
    box-sizing: border-box;
  }
  #right-col {
    float:left;
    width:30%
  }

  #right-col li {
    margin-bottom: 4px;
    color: #424242
  }

  a, a:link {
    color: #424242;
    text-decoration: none;
  }
  a:after {
    content: " [" attr(href) "]"
  }
  .site-width {
    max-width: none;
  }
}

/*# sourceMappingURL=application.css.map */
