@import "../bourbon/bourbon";
@import "../neat/neat";

@import "reset";

$primary: #D04A52;

$mobile: new-breakpoint(max-width 650px 4);
$tablet: new-breakpoint(max-width 768px 6);

//Typography
html * {font-family: 'Roboto', sans-serif;}
body {
    background: #f1f1f1;
    line-height: 1.4em;
}

p {
    margin-bottom: 20px;
}

h1 {
    font-size: 2em;
    margin: 20px 0 10px;
    font-weight: bold;
}

h2 {
    margin: 0 0 20px;
    padding: 0 0 20px;
    border-bottom: 2px solid #4a4a4a;
    font-weight: bold;
    font-size: 24px;
}
h3 {
    margin: 0 0 20px;
    font-weight: bold;
    font-size: 18px;
}

strong {
    font-weight: bold;
}

a, a:link, a:active {
    color: $primary;
    text-decoration: underline;
}

a:hover {
    text-decoration: none;
}


#desktop {
    @include media( $tablet ) {
        display: none;
    }
}
#tablet {
    display: none;
    @include media ( $tablet ) {
        display: block;
    }
    @include media( $mobile ) {
        display: none;
    }
}
#mobile {
    display: none;
    @include media( $mobile ) {
        display: block;
    }
}

.site-width {
    @include outer-container;
}
header {
    display: inline-block;
    padding: 0 20px;
    margin-top: 20px;
    h1 {
        font-family: 'Fenix', sans-serif;
    }
}

.menu-container {
    padding: 0 20px;
    @include media($mobile) {
        @include transition(all 0.5s linear);
        padding: 0;
        background: #4a4a4a;
        left: 100%;
        height: 100%;
        position: fixed;
        width: 100%;
        top: 120px; bottom: 0; right: 0;
    }
}

#menu-toggle:checked ~ .menu-container {
    @include media($mobile) {
        background: rgba(0,0,0,0.7);
        left: 0;
    }
}
.main-menu {
    float: right;
    overflow: hidden;
    @include media($mobile) {
        float: none;
        padding-top: 20px;
        background: #4a4a4a;
    }
}
.menu-container:after{
    content: '';
    display: block;
    clear: both;
}
.main-menu li {
    float: left;
    text-align: center;
    margin: 0 20px;
    @include media($mobile) {
        float: none;
        margin: 0;
        background: #4a4a4a;
        display: block;
        text-align: left;
    }
}
.main-menu li a {
    color: $primary;
    text-decoration: none;
    font-weight: bold;
    text-transform: lowercase;
    display: block;
    @include media($mobile) {
        padding: 15px 20px;
        color: white;
    }
    &.active {
        border-bottom : 2px solid $primary;
        color: #4a4a4a;
    }
}

body.tablet .main-menu li {
    margin: 0 14px;
}

#menu-toggle {
    position: absolute;
    clip: rect(0, 0, 0, 0);
}
label[ for="menu-toggle" ] {
    display: none;
    width: 32px;
    height: 28px;
    position: absolute;
    top: 38px;
    right: 0;
    margin-right: 20px;
    cursor: pointer;
    @include media($mobile) {
        display: block;
    }
}

.menu-icon,
.menu-icon:after,
.menu-icon:before {
    top: 12px;
    left: 0;
    width: 32px;
    display: block;
    background: #4a4a4a;
    height: 4px;
    position: absolute;
    @include transition(all 0.5s ease-in-out);
}

.menu-icon:after {
    content: '';
    top: 12px;
}

.menu-icon:before {
    content: '';
    top: -12px;
}

#menu-toggle:checked ~ label[ for="menu-toggle" ] .menu-icon {
    @include transform(rotate(45deg));
    @include transform-origin(center center);
    width: 28px;
    left: 2px;
    top: 12px;
}

#menu-toggle:checked ~ label[ for="menu-toggle" ] .menu-icon:after,
#menu-toggle:checked ~ label[ for="menu-toggle" ] .menu-icon:before {
    @include transform(rotate(90deg));
    width: 28px;
    top: 0;
}

.fixed-container {
    width: 100%;
    height: 120px;
    position: fixed;
    top: 0;
    left: 0;
    border-top: 10px solid #D04A52;
    background: #fafafa;
    box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.5);
}
.main-container {
    padding: 20px;
    padding-top: 180px;
}

.main-section {
    margin-bottom: 80px;
    min-height: 400px
}

.inside-thought {
    color: #BABABA;
    font-size: 70%;
}

.sub-head {
    font-size: 85%;
    color: #7a7a7a;
}

.main-section ul {
    list-style: disc inside none;
    margin-bottom: 30px;
}

.job-container, .sub-job-container {
    border-left: 4px solid $primary;
    padding-left: 10px;
}

.sub-job-container {border-left: 4px solid #4a4a4a;}

div.button {
    text-align: center;
}
.button a {
    display: inline-block;
    max-width: 400px;
    border-radius: 2px;
    background: $primary;
    color: white;
    font-size: 20px;
    text-align: center;
    margin: 0 auto;
    padding: 7px 20px;
    text-decoration: none;
    font-weight: bold;
}
